.girl {
  color: green;
  background-color: goldenrod;
  border: 2px;
  border-radius: 3px;
  margin: 3px;
}

.boy {
  color: black;
  background-color: grey;
  border: 2px;
  border-radius: 3px;
  margin: 3px;
}

.fav {
  background-color: orange;
  padding: 10;
}
